#listManager {
    background-color: #D9D9D9;
    border-radius: 15px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 20px;
    width: 550px;
    height: 100%;
}

.phoneNumberContainer {
    background-color: white;
    height: 686.5px;
    width: 521px;
    border-radius: 10px;    
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.redButton {
    background-color: #C74646;
    color: white;
    width: 143.56px;
    height: 42px;
    border-radius: 10px;
}
